.arbre{
    align-items: center;
    display: grid;
    justify-content: baseline;    
}

.branche{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 217, 147);
    border: 2px solid rgb(255, 178, 34);
}

.feuille-image{
    border: 2px solid rgb(255, 178, 34);
}

.feuille-texte{
    background-color: rgb(255, 217, 147);
    font-size: 200%;
}

#royal_ring{
    width: 70px;
    height: 70px;
}

.imgg{
    width: 100%;
    height: 100%;
}