.bloc1{
    background-color: whitesmoke;
    border: 2px solid   rgba(253, 170, 16, 0.39);
    justify-content: center;
}

.bloc2{
    background-color:  rgba(253, 170, 16, 0.39) ;
    border: 2px solid  black ;
}

.header{
    background-color:  rgb(255, 217, 147);
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.card{
    margin-left: auto;
    margin-right: auto ;
}

