

section{
    transition: all 1s;
}

.black{
    background-color: black;
}

.déplacement{
    position: relative !important;
    left: 300px;
    top: 300px;
}





.white{
    color: white;
}

#cooki{
    transition: all 1s;
}

.troll_box{
    width: 100%;
    height: 100vh;
}

#pctr{
    opacity: 0%;
    transition: all 3s;
}

.tada{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ZWRD{
    opacity: 0%;
}

#clique{
    position: static;
}

.animateText{
    transform: 
translateX(200px);
}

p{
    transition: all 2s;
}